<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add Person</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Create a Person:</h1>

<!--
   In Thymeleaf the equivalent of
   JSP's ${pageContext.request.contextPath}/edit.html
   would be @{/edit.html}
   -->

<form th:action="@{/addCharacter}"
      th:object="${personnageForm}" method="POST">

    First Name:
    <input type="text" th:field="*{name}" />
    <br/>

    Class :
    <br/>
    <label th:field="*{characterClass}">Choose a class:</label>
    <select id="characterClass" name="characterClass">
        <option value="warrior">warrior</option>
        <option value="wizard">wizard</option>
    </select>
    Health :
    <br/>
    <label th:field="*{life}">your life:</label>
    <select id="life" name="life">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
    </select>
    <br/>


    <input type="submit" value="Create" />
</form>

<br/>

<!-- Check if errorMessage is not null and not empty -->

<div
     th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
</div>

</body>
</html>